h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    border-style: dotted;
    color: rgb(53, 71, 143);
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
#sudoku-grid {
    display: grid;
    width: 360px;
    height: 360px;
    padding: 0px;
    grid-template-columns: repeat(9, 40px);
    grid-gap: 0px;
    margin: 10px auto;
}
#sudoku-grid input {
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    border-width: 1px;
    text-align: center;
    font-size: 18px;
    cursor: text;
    box-sizing: border-box;
    background-color: lightgray;
    border-style: dashed;
}

input:nth-child(-n+9) {
    border-top: 2px solid black !important;
}

input:nth-child(-n + 81):nth-child(n + 73) {
    border-bottom: 2px solid black !important;
}

input:nth-child(9n + 1) {
    border-left: 2px solid black !important;
}

input:nth-child(9n + 9) {
    border-right: 2px solid black !important;
}

input:nth-child(9n + 3), input:nth-child(9n + 6) {
    border-right: 1px solid black !important;
}

input:nth-child(9n + 4), input:nth-child(9n + 7) {
    border-left: 1px solid black !important;
}

input:nth-child(-n + 27):nth-child(n + 19), input:nth-child(-n + 54):nth-child(n + 46) {
    border-bottom: 1px solid black !important;
}

input:nth-child(-n + 36):nth-child(n + 28), input:nth-child(-n + 63):nth-child(n + 55) {
    border-top: 1px solid black !important;
}


#generate-puzzle, #solve-puzzle {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.5rem;
    background-color: rgb(53, 71, 143);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#generate-puzzle:hover, #solve-puzzle:hover {
    background-color: rgb(74, 91, 158);
}